{% extends 'table/base.html' %}
{% block content %}
<h1>Enter new guest</h1>

{% if error %}
	<p style="color: red;">
		This name already exists! Please enter another one.
	</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
	<table>
		{{ form.as_p }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Add Guest">
</form>
{% endblock %}